<ion-header>
	<ion-toolbar>

		<ion-title>
			<span class="d-flex" (click)="sign_up()" >

				 <span class="end"> {{'Crear Cuenta'}}</span>


			</span>
		</ion-title>
    <ion-buttons  slot="end">
      <ion-button color="light" (click)="sign_up()">
        <ion-icon name="card-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		 <h2 class="ion-text-center"> {{app_title }} </h2>
	</div>

	<div class="form">
		<h2 class="ion-text-center">{{'O inicia sesión con tu usuario y contraseña' }}</h2>
    <form [formGroup]="loginUsuario" (ngSubmit)="tabs($event)">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input type="email" placeholder="Correo" formControlName="email" ></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
			</ion-item>
		</ion-list>
		<ion-button size="large" shape="block" class="btn" type="submit">Iniciar sesión</ion-button>
  </form>
	</div>

	<div class="thumb_impression ion-text-center">
		<h2>{{'Ingresa con la huella'}}</h2>
		<div class="fingerprint">
			<img src="assets/imgs/ic_thumb.png">
		</div>
	</div>
</ion-content>
